<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Flight Details</title>
  <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>
<header>
  <h1 th:text="'Flight ' + ${flight.flightNumber} + ' Details'"></h1>
  <h3 th:text="'From ' + ${flight.getDepartureAirportCode()} + ' to ' + ${flight.getArrivalAirportCode()} +
  ' on ' + ${flight.getDate()} +' at ' + ${flight.getDepartureTime()}"></h3>
  <div class="passenger-selection">
    <label for="passengerCount">Passengers:</label>
    <button type="button" onclick="decreasePassengers()">-</button>
    <input type="number" id="passengerCount" name="passengers" min="1" value="1" th:value="${passengers}" />
    <button type="button" onclick="increasePassengers()">+</button>
  </div>
</header>

<script>
  function increasePassengers() {
    const input = document.getElementById("passengerCount");
    input.value = parseInt(input.value || 0) + 1;
  }

  function decreasePassengers() {
    const input = document.getElementById("passengerCount");
    const value = parseInt(input.value || 0);
    if (value > 1) {
      input.value = value - 1;
    }
  }
</script>

<div class="seat-map">
  <div class="row" th:each="row : ${flight.seatList}">
    <div class="seat-row" th:each="seat : ${row}">
      <div th:class="'seat ' + (${seat.available} ? 'available' : 'unavailable') + ' ' + (${seat.selected} ? 'selected' : '')"
           th:attr="data-properties='Row: ' + ${seat.seatRowNumber} + ', Seat: ' + ${seat.seatColumnChar} + ', Class: ' + ${seat.seatClass} + ', Recline: ' + ${seat.reclineType} + ', Window: ' + ${seat.window} + ', Aisle: ' + ${seat.aisle} + ', Emergency Exit: ' + ${seat.emergencyExit} + ', TV: ' + ${seat.tv} + ', Power: ' + ${seat.powerPort} + ', Bassinet: ' + ${seat.babyBassinet} + ', Available: ' + ${seat.available}"
           onmouseover="showSeatInfo(event)"
           onmouseout="hideSeatInfo()">
        <div th:text="${seat.seatRowNumber + ''} + ${seat.seatColumnChar + ''}"></div>
      </div>

    </div>
  </div>
</div>

<div id="seatInfo" class="seat-info" style="display: none;"></div>

<script src="/scripts/seat-info.js"></script>

<button>Confirm Selection</button>
</body>
</html>
