<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Flights</title>
  <link rel="stylesheet" th:href="@{/styles.css}">

</head>
<body>
<h1>Upcoming flights</h1>

<table class="table">
  <thead>
  <tr>
    <th>Flight Number</th>
    <th>From</th>
    <th>To</th>
    <th>Date</th>
    <th>Price</th>
    <th>Available Seats</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <tr th:if="${flights.empty}">
    <td colspan="7" style="text-align: center; padding: 20px;">
      No flights available. Try searching with different criteria.
    </td>
  </tr>
  <tr th:each="flightDto : ${flights}">
    <td th:text="${flightDto.getFlightNumber()}"></td>
    <td>
      <div th:text="${flightDto.getDepartureAirport()}"></div>
      <small th:text="${flightDto.getDepartureAirportName()}" ></small>
    </td>
    <td>
      <div th:text="${flightDto.getArrivalAirport()}"></div>
      <small th:text="${flightDto.getArrivalAirportName()}" ></small>
    </td>
    <td th:text="${flightDto.getDepartureDate()}"></td>
    <td th:text="${flightDto.getCalculatedPrice()}"></td>
    <td th:text="${flightDto.getAvailableSeats()}"></td>
    <td>
      <a th:href="@{/flightland/{flightId}(flightId=${flightDto.getFlightId()}, passengers=${passengers != null ? passengers : 1})}">
        <button>Choose</button>
      </a>
    </td>
  </tr>
  </tbody>
</table>

<a th:href="@{/flightland/}">Back to Search</a>
</body>
</html>
